<div class="panel panel-default col-sm-12">
  <!-- Default panel contents -->
  	<div class="panel-heading"><center><h1>Novo cardápio</h1></center></div>
  		<span class="col-sm-5">
  			<%= render 'form' %>
  		</span>
	</div>

		<%= link_to 'Voltar', cardapios_path, :class => "btn btn-default" %>
</div>
